/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/yarn-error.log
/public/uploads
/public/assets/*
/public/packs/*
/public/packs-test
/ssl/*
/node_modules/*
/ssl/*

.DS_Store*
.env
.vscode
config/database.yml
ssl
yarn-debug.log*
.yarn-integrity
