<div class="container">
  <div class="row d-row">
    <div class="col-md-2">
      <div class="card">
        <div class="card-header">
          <i class="fas fa-shield-check"></i> Success Auth</div>
        <div class="card-body">
          <h2 class="text-center">95%</h2>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-header">
          <i class="far fa-exchange"></i> Logins
        </div>
        <div class="card-body">
          <h2 class="text-center">50</h2>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-header">
          <i class="far fa-user-circle"></i> Users
        </div>
        <div class="card-body">
          <h2 class="text-center">15</h2>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-header">
          <i class="far fa-user-plus"></i> Sign Ups</div>
        <div class="card-body">
          <h2 class="text-center">3</h2>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-header">
          <i class="fal fa-fingerprint"></i> Total Apps</div>
        <div class="card-body">
          <h2 class="text-center">2</h2>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <div class="card-header">XXXX</div>
        <div class="card-body">
          <h2 class="text-center">XXXX</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-row t-60">
    <!-- <div class="col-md-4">
      <div class="card">
        <div class="card-header">Success Rate</div>
        <div class="card-body">
          <div id="success-rate-chart" class="success-rate-chart"></div>
        </div>
      </div>
    </div> -->
    <div class="col-md-6">
      <div class="card chart-large">
        <div class="card-header">
          <i class="far fa-chart-line"></i> User Growth</div>
        <div class="card-body">
          <div id="user-growth" class="user-growth"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card chart-large">
        <div class="card-header">Top Applications By Users</div>
        <div class="card-body">
          <div id="top-apps" class="top-apps"></div>
        </div>
      </div>
    </div>
  </div>
</div>