<!-- ========== FEATURES ========== -->
<section class="se-section features-section parallax-bg" data-parallax="scroll" data-image-src="images/bg-img-3.jpg" data-speed="0.4">
  <div class="black-gradient">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 se-feature-style-2 mb60">
          <div class="left">
            <i class="icon ion-arrow-expand"></i>
          </div>
          <div class="right">
            <h5>Fully Responsive</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
          </div>
        </div>
        <!-- end se-feature -->

        <div class="col-md-6 col-sm-6 se-feature-style-2 mb60">
          <div class="left">
            <i class="icon ion-android-search"></i>
          </div>
          <div class="right">
            <h5>Retina Ready</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
          </div>
        </div>
        <!-- end se-feature -->

        <div class="col-md-6 col-sm-6 se-feature-style-2 mb60">
          <div class="left">
            <i class="icon ion-ios-bolt"></i>
          </div>
          <div class="right">
            <h5>Lightning Fast</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
          </div>
        </div>
        <!-- end se-feature -->

        <div class="col-md-6 col-sm-6 se-feature-style-2 mb60">
          <div class="left">
            <i class="icon ion-information"></i>
          </div>
          <div class="right">
            <h5>Google Fonts</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
          </div>
        </div>
        <!-- end se-feature -->

        <div class="col-md-6 col-sm-6 se-feature-style-2">
          <div class="left">
            <i class="icon ion-checkmark"></i>
          </div>
          <div class="right">
            <h5>Light Weight</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
          </div>
        </div>
        <!-- end se-feature -->

        <div class="col-md-6 col-sm-6 se-feature-style-2">
          <div class="left">
            <i class="icon ion-settings"></i>
          </div>
          <div class="right">
            <h5>Easy To Edit</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
          </div>
        </div>
        <!-- end se-feature -->

      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end black-gradient -->
</section>
<!-- end features-section -->
