<header class="header main-header header-style-2" id="circular-particles">
  <div class="primary-trans-bg">
    <div class="container">
      <div class="outer">
        <div class="inner text-center">
          <br>
          <br>
          <h1 class="white-color">
            Deauthorized is in a private beta.
            <br/>Sign up here to get an invite.
          </h1>
          <!-- <h5 class="">Deauthorized is a FIDO Approved U2F and UAF product that helps businesses prevent account takeover with decentralized, secure, biometric authentication. </h5> -->
          <div class="col-md-6 col-md-offset-3">
            <br>
            <br>
            <br>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
                portalId: '3970341',
                formId: '70172187-f095-451f-a781-0cd4a2c6fc0f'
              });
            </script>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>