<!-- ========== HEADER ========== -->
<header class="header main-header header-style-2" id="circular-particles">
  <div class="primary-trans-bg">
    <div class="container">
      <div class="outer">
        <div class="inner text-center">
          <h1 class="white-color">Keep All Your Online Accounts Safe.
            <br/>
            No Matter What.</h1>
          <h5 class="">Our system empowers you to keep control of your accounts even if they are hacked.</h5>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="se-section features-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 se-feature">
        <i class="icon ion-radio-waves"></i>
        <h5>Keep Control</h5>
        <p> Our system uses biometric info so only you can authorize the shutdowns </p>
      </div>
      <div class="col-md-4 col-sm-12 se-feature">
        <i class="icon ion-ios-paper-outline"></i>
        <h5>Protect Everything
        </h5>
        <p>Notify your banks, mobile wallet provider, and social media provider to suspend all user activity.</p>
      </div>
      <div class="col-md-4 col-sm-12 se-feature">
        <i class="icon ion-ios-lightbulb-outline"></i>
        <h5>Secure Accounts</h5>
        <p>Get your accounts back with a direct line of communication to every provider.</p>
      </div>
    </div>
  </div>
</section>


        <section class="se-section single-feature">

  <div class="col-md-6 zero-padding col-md-push-6 side-img">
    <img src="https://placehold.it/1600x1000?text=Mobile%20App" alt="" class="img-responsive">
  </div>
  <!-- end side-img -->

  <div class="container feature-desc">
    <div class="row">
      <div class="col-md-5 feature-info">
        <h2>Protect your digital life with a single app
        </h2>
        <p>When hackers obtain peices of your personal identifiable information, they use that info to infiltrate your financial accounts, email, and social media. Once they have taken over some of your personal information, the attacks can quickly escalate
          to many other accounts.
        </p>
        <p>Deauthorized is an kill switch that suspends your user activity on an app, prevents escalation of attacks to other services, and helps you regain control of compromised accounts.</p>
        <%= link_to "Learn More", pricing_path, class: "btn se-btn btn-rounded" %>

      </div>

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->

</section>

<!-- ========== STEPS ========== -->
<section class="se-section se-steps">
  <div class="container">
    <div class="row text-center">
      <h3 class="underline mtn">It's as ease as 1 - 2 - 3!</h3>
    </div>
    <!-- end row -->

    <div class="row">
      <div class="col-md-4 col-sm-4 one-step">
        <h4>Download Our Mobile App</h4>
        <p>Use our mobile application to create your secure identity on the blockchain.
        </p>
      </div>

      <div class="col-md-4 col-sm-4 one-step">
        <h4>Sign Up for an Account
        </h4>
        <p>Use the mobile app to authenticate via a single sign-on, biometric authenticator.
        </p>
      </div>

      <div class="col-md-4 col-sm-4 one-step">
        <h4>Connect with Your Services</h4>
        <p>Integrate your online financial accounts, email accounts, mobile providers, and more.</p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<!-- ========== CTA SECTION ========== -->
<section class="se-section primary-bg">
  <div class="container">
    <div class="row text-center">
      <h3>Create Your Account Now!</h3>
      <p>Sign Up for Free. No credit card required.</p>
      <%= link_to "SIGN UP", new_user_registration_path, class: "btn se-btn-black btn-rounded" %>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

