<!-- ========== HEADER ========== -->
<header class="header main-header header-style-2" id="circular-particles">
  <div class="primary-trans-bg">
    <div class="container">
      <div class="outer">
        <div class="inner text-center">
          <h1 class="white-color">Equip Customers and Employees
            <br/> to Prevent Account Takeover</h1>
          <h5 class="">Deauthorized's SaaS application is a fast, flexible, and secure way for businesses to scale up strong authentication, eliminate fraud, save millions on password resets, and simplify the user authentication experience.</h5>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="se-section">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-6 se-feature-style-3">
        <div class="feature-wrap">
          <i class="icon ion-ios-analytics-outline"></i>
          <h5>Risk Mitigation</h5>
          <p>Reduce the risk of data breaches and liability from account takeover fraud.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 se-feature-style-3">
        <div class="feature-wrap">
          <i class="icon ion-ios-paper-outline"></i>
          <h5>Protect Customers</h5>
          <p>Provide your customers and employees with the gold standard in secure authenication.</p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 se-feature-style-3">
        <div class="feature-wrap">
          <i class="icon ion-ios-lightbulb-outline"></i>
          <h5>Secure Communication</h5>
          <p>Keep all your online accounts safe. No matter what.</p>
        </div>
      </div>
      <!-- <div class="col-md-6 col-sm-6 se-feature-style-3"> <div class="feature-wrap"> <i class="icon ion-outlet"></i> <h5>Font Icons</h5> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua.</p> </div> </div> <div class="col-md-6 col-sm-6 se-feature-style-3"> <div class="feature-wrap"> <i class="icon ion-ios-bolt-outline"></i> <h5>Lightning Fast</h5> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> </div> </div> -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<!-- ========== SINGLE FEATURE SECTION ========== -->
<section class="se-section single-feature">

  <div class="col-md-6 zero-padding side-img">
    <%= image_tag('dash.png', class: 'img-responsive') %>
  </div>
  <!-- end side-img -->

  <div class="container feature-desc">
    <div class="row">
      <div class="col-md-5 col-md-push-7 feature-info">
        <h2>Preserve reputation with customers</h2>
        <p>As security breaches become more prevelant and hackers become more sophisticated, businesses need proven security standards such as FIDO to prevent fraud and stop bad actors online.
        </p>
        <p>Deauthorized is here to help your business secure your enteprise from risk of data breaches and prevent account takeover fraud altogether. We provide mobile apps for biometric authentication, a FIDO U2F and UAF server, and secure dashboard that
          manages trusted ID's from millions of consumers to your applications, logins, and infrastructure.
        </p>
        <%= link_to "Get in the Beta", beta_invite_path, class: "btn se-btn btn-rounded" %>
      </div>
    </div>

    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<section class="se-section single-feature">

  <div class="col-md-6 zero-padding col-md-push-6 side-img">
    <div class="row">
      <div class="col-md-6 text-center">
        <%= image_tag('da-mobile-app.png', size: '275x550') %>
      </div>
      <div class="col-md-6 text-center">

        <div class="">
          <div class="row">
            <div class="">
              <div class="da-box">
                <div class="branding-box text-center">
                  <div class="branding"></div>
                </div>
                <div class="smooth-box text-center">
                  <div class="qr-code"></div>
                  <a class="btn btn-lg btn-brand">Enter</a>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end side-img -->

  <div class="container feature-desc">
    <div class="row">
      <div class="col-md-5 feature-info">
        <h2>Secure your online identity with a single mobile app
        </h2>
        <p>When cyber criminals steal data from businesses online, they use that info to infiltrate your work, financial accounts, email, and social media. Once they have your email and password, its game over.
        </p>
        <p>Deauthorized is a passwordless authentication mobile app that uses TouchID and FaceID on your mobile device to authenicate you into an app, website, your car, or a door to a building. With Deauthorized, you will never have to remember another
          password ever again.</p>
        <%= link_to "Get in the Beta", beta_invite_path, class: "btn se-btn btn-rounded" %>

      </div>

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->

</section>