<!-- ========== PAGE TITLE ========== -->
<header class="header page-title">
  <div class="container">
    <!-- For centering the content vertically -->
    <div class="outer">
      <div class="inner text-center">

        <h1 class="">Pricing</h1>
        <h5 class="">It's as low as 1 cup of coffee per day.</h5>
        <%= link_to "Create Account", new_user_registration_path, class: "btn se-btn-black btn-rounded mt20" %>

      </div>
      <!-- end inner -->
    </div>
    <!-- end outer -->
  </div>
  <!-- end container -->
</header>

<!-- ========== PRICING ========== -->
<section class="se-section">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-6">
        <div class="se-plan">
          <div class="plan-header">
            <span class="strike">$10 /mo</span>
            <h2>Free</h2>
            <p>Get the feel</p>
          </div>
          <!-- end plan-header -->

          <div class="plan-features">
            <ul>
              <li>Basic Tool-bar
                <i class="icon ion-ios-information-outline" data-toggle="tooltip" data-placement="bottom" title="Some more information about this one"></i>
              </li>
              <li>Free Templates
                <i class="icon ion-ios-information-outline" data-toggle="tooltip" data-placement="bottom" title="Some more information about this one"></i>
              </li>
              <li>No PDF Download
                <i class="icon ion-ios-information-outline" data-toggle="tooltip" data-placement="bottom" title="Some more information about this one"></i>
              </li>
              <li>Up-to 500 Records</li>
              <li>Only 2 Users</li>
              <li>Use 500 hours</li>
              <li>Invite 5 Friends</li>
            </ul>
          </div>
          <!-- end plan-features -->
        </div>
        <!-- end se-plan -->
      </div>
      <!-- end col-md-4 -->

      <div class="col-md-4 col-sm-6">
        <div class="se-plan plan-popular">
          <div class="plan-header">
            <span class="strike">$100 /mo</span>
            <h2>$80
              <small>/mo</small>
            </h2>
            <p>Gold Plan</p>
          </div>
          <!-- end plan-header -->

          <div class="plan-features">
            <ul>
              <li>Basic Tool-bar
                <i class="icon ion-ios-information-outline" data-toggle="tooltip" data-placement="bottom" title="Some more information about this one"></i>
              </li>
              <li>Free Templates
                <i class="icon ion-ios-information-outline" data-toggle="tooltip" data-placement="bottom" title="Some more information about this one"></i>
              </li>
              <li>No PDF Download
                <i class="icon ion-ios-information-outline" data-toggle="tooltip" data-placement="bottom" title="Some more information about this one"></i>
              </li>
              <li>Up-to 5,000 Records</li>
              <li>Only 20 Users</li>
              <li>Use 5,000 hours</li>
              <li>Invite 50 Friends</li>
            </ul>
          </div>
          <!-- end plan-features -->
        </div>
        <!-- end se-plan -->
      </div>
      <!-- end col-md-4 -->

      <div class="col-md-4 col-sm-6">
        <div class="se-plan">
          <div class="plan-header">
            <span class="strike">$200 /mo</span>
            <h2>$170
              <small>/mo</small>
            </h2>
            <p>Platinum Plan</p>
          </div>
          <!-- end plan-header -->

          <div class="plan-features">
            <ul>
              <li>Premium Tool-bar
                <i class="icon ion-ios-information-outline" data-toggle="tooltip" data-placement="bottom" title="Some more information about this one"></i>
              </li>
              <li>Premium Templates
                <i class="icon ion-ios-information-outline" data-toggle="tooltip" data-placement="bottom" title="Some more information about this one"></i>
              </li>
              <li>Download PDF Invoice
                <i class="icon ion-ios-information-outline" data-toggle="tooltip" data-placement="bottom" title="Some more information about this one"></i>
              </li>
              <li>Up-to 50,000 Records</li>
              <li>Only 20 Users</li>
              <li>Use 50,000 hours</li>
              <li>Invite 500 Friends</li>
            </ul>
          </div>
          <!-- end plan-features -->
        </div>
        <!-- end se-plan -->
      </div>
      <!-- end col-md-4 -->

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<!-- ========== FAQ SECTION ========== -->
<section class="se-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 se-faq">
        <h6 class="underline">Can I upgrade from one package to another?</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
      </div>
      <!-- end se-faq -->

      <div class="col-md-6 col-sm-6 se-faq">
        <h6 class="underline">Can I pay yearly?</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
      </div>
      <!-- end se-faq -->

      <div class="col-md-6 col-sm-6 se-faq">
        <h6 class="underline">Can I cancle anytime?</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
      </div>
      <!-- end se-faq -->

      <div class="col-md-6 col-sm-6 se-faq">
        <h6 class="underline">Do you refund the money?</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad.</p>
      </div>
      <!-- end se-faq -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<!-- ========== CTA SECTION ========== -->
<section class="se-section primary-bg">
  <div class="container">
    <div class="row text-center">
      <h3>Create Your Account Now!</h3>
      <p>Get 30 days trial. No credit card required.</p>
      <%= link_to "SIGN UP", new_user_registration_path, class: "btn se-btn-black btn-rounded" %>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
