<div class="row welcome">
  <div class="col-md-8 offset-md-2 pt-200 pb-200">
    <div class="">
      <div class="text-center white">
        <%= image_tag("deauthorized-white-v2.png", class: "img-fluid")  %>
          <br>
          <h1 class="t-60">The Strongest Auth, Made Simple</h1>
          <!-- <h4>Add biometric encryption to Prevent Fraud, Identity Theft, and Account Takeover across all your apps. </h4>
                    <h4>Migrate users off social media and insecure credentials to a secure enclave to build trust and add data privacy.</h4>
                    <h4>Enhance the user login experience down to 1 easy step - No passwords necessary!</h4> -->
          <div class="text-center">
            <%= link_to "Get Started", mobile_apps_url, class: "btn btn-primary btn-lg t-60" %>
          </div>
      </div>
    </div>
  </div>
</div>