<div class="container margin-top-150 margin-bottom-150">
  <div class="col-md-12">
    <div class="row text-center">
      <h1>Thanks for contacting us, we will be in touch soon!</h1>
      <h4>In the meantime read our
        <a href="https://medium.com/@deauthorized">blog</a>
        or follow us on
        <a href="https://twitter.com/deauthorized">twitter</a>.</h4>
    </div>
  </div>
</div>
