<div>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h3>Update configuration for
        <%= @app.name %>
      </h3>
      <br>
      <%= render 'form', app: @app %>
    </div>
  </div>
</div>