<div class="row">
    <div class="col-md-6">
        <h1>Step 1:</h1>
        <h2>Deploy an app of your choice</h2>
        <h4>After you deploy, you need to configure the heroku app, then you can fininsh this setup.</h4>
        <br>
        <div class="row d2-row">
            <div class="col-md-6">
                <div class="lang-title">
                    Ruby on Rails
                </div>
            </div>
            <div class="col-md-6">
                <a href="https://heroku.com/deploy?template=https://github.com/Deauthorized/rails-5.1-openid-sample" target="_blank">
                    <img src="https://www.herokucdn.com/deploy/button.svg" alt="Deploy">
                </a>
            </div>
        </div>
        <div class="row d2-row">
            <div class="col-md-6">
                <div class="lang-title">
                    Node JS
                </div>
            </div>
            <div class="col-md-6">
                <a href="https://heroku.com/deploy?template=https://github.com/Deauthorized/rails-5.1-openid-sample" target="_blank">
                    <img src="https://www.herokucdn.com/deploy/button.svg" alt="Deploy">
                </a>
            </div>
        </div>
        <div class="row d2-row">
            <div class="col-md-6">
                <div class="lang-title">
                    Python
                </div>
            </div>
            <div class="col-md-6">
                <a href="https://heroku.com/deploy?template=https://github.com/Deauthorized/rails-5.1-openid-sample" target="_blank">
                    <img src="https://www.herokucdn.com/deploy/button.svg" alt="Deploy">
                </a>
            </div>
        </div>
        <div class="row d2-row">
            <div class="col-md-6">
                <div class="lang-title">
                    PHP
                </div>
            </div>
            <div class="col-md-6">
                <a href="https://heroku.com/deploy?template=https://github.com/Deauthorized/rails-5.1-openid-sample" target="_blank">
                    <img src="https://www.herokucdn.com/deploy/button.svg" alt="Deploy">
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h1>Step 2:</h1>
        <h2>Create the ClientID and Client Secret for the Heroku App </h2>
        <div class="row">
            <div class="col-md-12">
                <%= render 'form', app: @app %>
            </div>
        </div>
    </div>
</div>