<div class="container">
  <div class="col-md-10 offset-md-1">
    <div class="row">
      <h2>Welcome to Deauthorized</h2>
    </div>
    <div class="row">
      <br>
      <p>
        <b>
      <i>Please note: This product is still under development and should not be used in a production environment.</i>
    </b>
      </p>
      <p>Thanks for joining our biometric authentication platform. We created several OpenID Client sample applications to get a biometric authentication solution online in 10 minutes. If you have any issues while installing, contact us on the support channel
        in the bottom right corner. We will be available to answer questions and help you get your apps installed and connected to the identity provider. </p>
      <br>
    </div>

    <%= render "installation" %>
  </div>
</div>