<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-1">
      <div class="">
        <h2>Mobile Apps</h2>
        <p>Our mobile app stores unique encryption keys for each OpenID Connect Client and the QR provides all the OpenID Connect Identity Provider information. You can backup, store, and sync your encryption keys on Dropbox like a password keeper. If you
          ever lose your device, you can restore your encryption keys from Dropbox with a password. We do not store your keys anywhere on our service, so you are completely in charge of your keys and their security.
          <%= link_to "Get started now.", get_started_path %>
        </p>
      </div>
    </div>

    <div class="col-md-4 text-center">
      <%= image_tag('da-mobile-app.png', size: '275x565') %>
    </div>

  </div>
</div>