<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <%= link_to "Go Back", :back %>
        </li>

        <li class="breadcrumb-item">
            <%= link_to "Dashboard", analytics_path %>
        </li>
    </ol>
</nav> -->