
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }

  .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }

  li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }

  .grey {
    background-color: #eee;
    font-size: 20px;
  }
}
