<h1>Account

</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Subdomain</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "account", collection: @accounts %>
  </tbody>
</table>